.burger {
  padding: 0;
  margin-bottom: 7px;
  background-color: transparent;
  width: 24px;
  height: 20px;
  position: relative;
  z-index: 10;
  display: none;
  border: none;

  @include vp-767 {
    display: block;
  }

  span {
    width: 24px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    background-color: $color-alice-blue;
    transition: $trans-default;

    &:first-of-type {
      top: calc(50% - 5px);
    }

    &:last-of-type {
      top: calc(50% + 5px);
    }
  }
}

.burger.is-active {
  width: 17px;

  span {
    top: 50%;
    width: 16px;
    left: 58%;
    background-color: $color-tangaroa;
    transform: translate(-50%, 0) rotate(45deg);

    &:first-of-type {
      display: none;
    }

    &:last-of-type {
      transform: translate(-50%, 0%) rotate(-45deg);
    }
  }
}
