.page-form {
  color: $color-alice-blue;
  background-color: $color-tangaroa;
  padding: 50px;
  width: 403px;

  @include vp-767 {
    padding: 40px 30px;
    width: 100%;
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 35px;
  }
}

.page-form__inner {
  input {
    height: 43px;
    border: none;
    padding: 11px 15px;
    width: 100%;
    margin-bottom: 20px;
    color: $color-tangaroa;
    font-size: 14px;
    line-height: 21px;
  }

  input:not(:last-child) {
    margin-bottom: 0;
  }
}

.page-form__data {
  position: relative;
  font-size: 10px;
  line-height: 13px;

  span {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: $color-default-white;
    left: -17px;
    transform: translate(-50%, -50%);
    top: 50%;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + span {
    background-image: url("../img/svg/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  input[type="checkbox"]:focus + span {
    box-shadow: 0 0 0 1px $color-alice-blue;
  }
}

.page-form__data:last-of-type {
  display: inline-block;
  margin-bottom: 35px;
  margin-left: 24px;
}

input[type="submit"] {
  font-weight: 600;
  padding: 11px;
  border: none;
  width: 100%;
  cursor: pointer;
}
