.page-nav.is-active {
  height: 100%;
}

.page-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 33px;
  row-gap: 10px;

  @include vp-1023 {
    column-gap: 23px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
    row-gap: 26px;
  }
}

.page-nav__item {
  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-alice-blue;

    @include hover-focus {
      opacity: 0.8;
      transition: $trans-default;
    }

    @include vp-1023 {
      font-size: 14px;
      line-height: 17px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
