.page-benefits {
  padding: 110px 0;
  min-height: 562px;
  background-color: $color-solitude;
  background-image: url("../img/benefits.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../img/benefits@2x.png");
  }

  @include vp-1023 {
    padding: 89px 0 100px;
    background-image: url("../img/benefits-tablet.png");

    @include retina {
      background-image: url("../img/benefits-tablet@2x.png");
    }
  }

  @include vp-767 {
    background-image: url("../img/benefits-mobile.png");
    padding: 56px 0 64px;

    @include retina {
      background-image: url("../img/benefits-mobile@2x.png");
    }
  }
}

.page-benefits__wrapper {
  h3 {
    color: $color-tangaroa;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    @include vp-1023 {
      font-size: 26px;
      margin-bottom: 47px;
    }

    @include vp-767 {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }
}

.page-benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    gap: 23px;
  }

  @include vp-767 {
    gap: 30px;
  }
}

.page-benefits__item {
  position: relative;
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  width: 31%;
  padding: 80px 32px 40px 30px;
  min-height: 241px;

  @include vp-1023 {
    padding: 70px 13px 18px 20px;
    min-height: 310px;
    width: 30.4%;
  }

  @include vp-767 {
    width: 100%;
    min-height: 250px;
    padding-right: 22px;
  }

  h4 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 27px;

    br {
      display: none;

      @include vp-1023 {
        display: block;
      }
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    background: url("../img/sprite.svg#vessel");
    width: 27px;
    height: 32px;
    top: 30px;
    left: 30px;

    @include vp-1023 {
      top: 23px;
      left: 20px;
      width: 21px;
    }
  }

  &--ticks::before {
    background: url("../img/sprite.svg#double-tick");
    width: 38px;

    @include vp-1023 {
      width: 26px;
    }
  }

  &--vessel::before {
    background: url("../img/sprite.svg#vessel-zodiac");
    width: 44px;

    @include vp-1023 {
      width: 36px;
    }
  }
}
