.page-form {
  color: $color-alice-blue;
  background-color: $color-tangaroa;
  padding: 42px 50px 50px 50px;
  width: 403px;

  input[type="submit"] {
    font-size: 14px;
    font-weight: 600;
    padding: 11px;
    border: none;
    width: 100%;
    cursor: pointer;
    height: 43px;

    @include hover-focus {
      opacity: 0.8;
      transition: $trans-default;
    }
  }

  @include vp-767 {
    padding: 32px 30px 38px;
    width: 100%;
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;

    @include vp-767 {
      text-align: center;
      margin-bottom: 25px;

      br {
        display: none;
      }
    }
  }
}

.page-form__inner {
  input {
    height: 43px;
    border: none;
    padding: 11px 18px;
    width: 100%;
    margin-bottom: 20px;
    color: $color-tangaroa;
    font-size: 14px;
    line-height: 21px;

    @include hover-focus {
      background-color: $color-solitude;
      transition: $trans-default;
    }
  }

  input.is-error {
    border: 2px solid $color-torch-red;
  }

  input.is-succed {
    border: 2px solid $color-shades-apple;
  }

  strong {
    display: none;
  }

  strong.is-error {
    vertical-align: middle;
    display: inline-block;
    color: $color-torch-red;
    margin-bottom: 7px;
  }
}

.page-form__data {
  position: relative;
  font-size: 10px;
  line-height: 13px;

  span {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: $color-default-white;
    left: -12px;
    transform: translate(-50%, -50%);
    top: 40%;

    @include vp-767 {
      left: -18px;
      top: 50%;
      width: 20px;
      height: 20px;
    }
  }

  input[type="email"] {
    margin-bottom: 17px;
  }

  input[type="checkbox"]:checked + span {
    background-image: url("../img/svg/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  input[type="checkbox"]:focus + span {
    box-shadow: 0 0 3px 1px $color-quartz;
  }
}

.page-form__data:last-of-type {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 29px;
  margin-left: 24px;

  @include vp-767 {
    width: 157px;
    margin-left: 28px;
  }
}
