.page-main {
  position: relative;
  min-height: 650px;
  background-color: $color-tangaroa;
  background-size: cover;
  margin-bottom: 120px;
  padding-bottom: 50px;
  background-position: center;

  @include background-image("main");

  @include vp-1023 {
    min-height: 638px;
    margin-bottom: 100px;
  }

  @include vp-767 {
    min-height: 500px;
    margin-bottom: 65px;
  }
}
