.page-description {
  margin-top: 190px;

  @include vp-1023 {
    margin-top: 213px;
  }

  @include vp-767 {
    margin-top: 128px;
  }

  h1 {
    margin: 0;
    margin-bottom: 12px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 53px;
    color: $color-alice-blue;
    line-height: 66px;
    text-shadow: $shadow;

    @include vp-1023 {
      margin-left: 0;
      font-size: 50px;
      line-height: 61px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 45px;
    }
  }

  p {
    color: $color-alice-blue;
    font-size: 20px;
    line-height: 24px;
    text-shadow: $shadow;
    margin: 0;
    margin-left: 94px;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
      margin-left: 0;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
