.page-order__wrapper {
  padding-top: 85px;
  padding-bottom: 121px;
  padding-left: 60px;
  padding-right: 60px;
  color: $color-alice-blue;

  @include vp-1023 {
    padding: 90px 60px 100px;
  }

  @include vp-767 {
    padding: 57px 25px 65px;
  }

  @include vp-320 {
    padding-left: 25px;
    padding-right: 25px;
  }

  h3 {
    color: $color-tangaroa;
    margin: 0;
    margin-bottom: 49px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;

    @include vp-1023 {
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 30px;
    }
  }
}

.page-order__list {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    grid-template-columns: repeat(2, minmax(309px, 386px));
  }

  @include vp-767 {
    grid-template-columns: minmax(270px, 386px);
  }
}

.page-order__item {
  position: relative;
  height: 386px;
  background-color: $color-tangaroa;
  font-size: 14px;
  line-height: 20px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.page-order__item:hover,
.page-order__item:focus-within {
  .page-order__inner {
    outline: solid $color-tangaroa;
    outline-offset: 3px;
    border-radius: 3px;
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transition: 0.2s;
  }
}

.page-order__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 23px 30px 22px;

    @include vp-1023 {
      margin: 0 35px 27px;
    }

    @include vp-767 {
      margin: 0 25px 17px;
    }
  }
}

.page-order__inner {
  display: flex;
  flex-direction: column;
  padding: 30px 25px 33px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: $color-tangaroa;
  overflow: auto;
  height: 100%;
  opacity: 0;
  z-index: -1;
  visibility: hidden;

  h4 {
    margin: 0 0 11px;

    @include vp-1023 {
      margin: 0 0 10px;
    }

    @include vp-767 {
      margin: 0 0 10px;
    }
  }

  @include vp-1023 {
    padding: 30px 35px 35px;
  }

  @include vp-767 {
    padding: 30px 25px 34px;
  }

  @include custom-scrollbar($color-link-water, $color-link-water);

  dl {
    margin: 0;
    flex-grow: 1;
  }

  dt {
    font-weight: 500;
  }

  dd {
    color: $color-quartz;
    margin: 0;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 24px;
    }
  }
}

.page-order__link {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: $color-alice-blue;
  width: 100%;
  color: $color-tangaroa;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  padding: 10px;
  user-select: none;
  word-break: break-word;

  @include hover-focus {
    opacity: 0.8;
    transition: $trans-default;
  }
}
